<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- Set these values to your client ID and redirect URI from Azure AD or ADFS -->
    <add key="ida:ClientId" value="YOUR CLIENT ID"/>
    <add key="ida:RedirectUri" value="YOUR REDIRECT URI"/>
    <add key="app:Name" value="YOUR APP NAME"/>
    <add key="app:Version" value="YOUR APP VERSION"/>
    
    <!-- If using AD RMS, set to true. Mobile device extensions must be configured. -->
    <add key="useAdrms" value="false"/>
  </appSettings>
</configuration>