<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- Set these values to your client ID and redirect URI from Azure AD or ADFS -->    
    <add key="ida:ClientId" value="YOUR CLIENT ID"/>
    <!-- Set this to true if your application is not enabled for multitenant access. -->
    <add key="ida:IsMultitenantApp" value="false"/>
    <!-- Set this to your tenant name or GUID if your application is not enabled for multitenant access. -->
    <add key="ida:TenantGuid" value="YOUR TENANT GUID"/>    
    <add key="app:Name" value="MIP Protection SDK Sample App"/>
    <add key="app:Version" value="1.7"/>
    
    <!-- If using AD RMS, set to true. Mobile device extensions must be configured. -->
    <add key="useAdrms" value="false"/>
  </appSettings>
</configuration>